a:hover {
    text-decoration: none;
}

ul {
    @include margin(bottom, 0);
    list-style: none;
}

label {
    @include margin(bottom, 0);
    font-size: $font-sm;
    font-family: $font-medium;
    color: $secondary-dark;
    text-transform: capitalize;
}

