<aside [@width]='state'>
  <button class="btn btn-transaprent positionabsolute"  (click)='toggleSidebar()'>||</button>
  <div class="profile-info bg-warning d-flex justify-content-center align-items-center position-relative">
    <img src="../../../assets/images/7e638c9f13c34252843e6239540c4ae9.jpg" class="profile" [@profile]='state' alt="">
    <div class="bg-warning big-oval" [@cubic]='state'></div>
    <div class="bg-dark small-oval" ></div>
  </div>
  <nav>
    <ul>
      <li>lorem</li>
      <li>lorem</li>
      <li>lorem</li>
      <li>lorem</li>
      <li>lorem</li>
    </ul>
  </nav>
</aside>