<div class="bg-white h-100 w-100">
    <div id="container" [@listAnimation]="items.length">

        <button class="btn btn-primary" (click)="pushItem()">Add item</button>
        <button class="ml-2 btn btn-secondary" (click)="removeItem()">Remove item</button>

        <div id="list" *ngFor="let item of items">
            {{ item }}
        </div>

    </div>
    <div @explainerAnim>
        <div class="col">
            <p>I think Coursetro is one of the best learning resources online for Angular</p>
        </div>
        <div class="col">
            <p>I think Coursetro is one of the best learning resources online for Angular</p>
        </div>
        <div class="col">
            <p>I think Coursetro is one of the best learning resources online for Angular</p>
        </div>
        <div>
        </div>